<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Required for crash reporting -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- List reordering vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="io.rebble.pebblekit2.permission.SEND_DATA_TO_WATCH" />
    <uses-permission android:name="io.rebble.pebblekit2.permission.READ_PROVIDER" />

    <!-- To get names of all applications and to allow for rules -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <!-- Grant access to notifications -->
    <uses-feature android:name="android.software.companion_device_setup" />

    <application
        android:name=".NotificationCenterApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotificationCenter"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="UnusedAttribute">
        <profileable android:shell="true" />

        <!--
            Compose handles all of those config changes for us, so for 100% compose app, we do not need to recreate the activity.

            singleInstancePerTask + PROPERTY_SUPPORTS_MULTI_INSTANCE_SYSTEM_UI allows app to be launched in multiple instances
            side-by-side. Disable if this is not desired.
            See https://developer.android.com/develop/ui/compose/layouts/adaptive/support-multi-window-mode#multi-instance
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|locale|layoutDirection|density"
            android:exported="true"
            android:launchMode="singleInstancePerTask"
            android:theme="@style/Theme.NotificationCenter.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <property
                android:name="android.window.PROPERTY_SUPPORTS_MULTI_INSTANCE_SYSTEM_UI"
                android:value="true" />
        </activity>

        <provider
            android:name=".logging.LogFileProvider"
            android:authorities="com.matejdro.pebblenotificationcenter2.logs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/logging_file_paths" />
        </provider>

        <service android:name=".receiving.PebbleListenerService"
                 android:exported="true"
                 tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.rebble.pebblekit2.RECEIVE_DATA_FROM_WATCH" />
            </intent-filter>
        </service>

        <service
            android:name=".notification.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <!-- Disable native WorkManager init -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

    </application>

</manifest>
